*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagem img{
    width: 20%;
    flex: 1;
    height: 40%;
    position: absolute;
    top: 0;
    right: 1%;
}

body{
    display: flex;
    flex-direction: column;
}
